
 body {
  font-family: "Open Sans", sans-serif;
    margin: 0 0;
}
.nav-menu{
    display: flex;
    font-weight: 400;
    /* text-align: center;
    justify-content: center; */
    text-decoration: none;
    /* margin-left: 50px; */
    list-style: none;
}
nav li{
    margin-right: 50px;
}
ul>li>a
{
    text-decoration: none;
    color: var(--Dark 03, rgba(117, 117, 117, 1));
    color: black;
}
.navi-menu{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
 }
.header{
    background: rgba(255, 248, 243, 1);
    background-image: url(../developer.png), url(../header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.r{
    color: rgba(253, 110, 10, 1);
}
.banner-title{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
}
.btn-primary{
    font-weight: 700;
    color: var(--White Color, rgba(255, 255, 255, 1));
    font-style: Bold;
    padding: 20px 20px;
    border-radius: 5px;
    background: rgba(253, 110, 10, 1);
    color: white;
    border-color: white;
}
.about-me{
    background: rgba(255, 248, 243, 1);
    margin: 200px 200px;
    padding: 150px 130px;
}
.introduction{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.What-I-Do-container{
    display: flex;
    gap: 20px; 
}
.What-I-Do{
    margin: 0 200px;
}
.what-i-do-main{
  border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    margin-top: 50px;
    padding: 30px 30px;
}
.heading-what-i-do{
    text-align: center;
    justify-content: center;
    font-weight: 700;
    font-style: Bold;
    margin-bottom: 30px;
}
.heading-what-i-do-text{
    font-style: Regular;
    font-weight: 400;
    text-align: center;
    justify-content: center;
}
.resume-header{
    margin: 130px 200px;
    text-align: center;
    justify-content: center;

}
.resume-container{
    display: flex;
    gap: 50px;
    text-align: start;
    justify-content: start;
}
.contact{
    display: flex;
    gap: 100px;
    background: rgba(255, 248, 243, 1);
    padding: 130px 200px;
}
.action{
    display: block;
    width: 100%;
    border-radius: 5px;
    
}
.type{
    background: var(--White Color, rgba(255, 255, 255, 1));
    margin-bottom: 25px;
    border-radius: 5px;
    width: 100%;
    border: 0px;
    padding: 20px 20px;
}
.img{
    margin-right: 25px;
    margin-top: 30px;
}
